h1{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

h2{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rebeccapurple;
}

h3{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
}

